/*
Author: Cassie Lewis
https://clewisdev.com
Date: January 2023 
*/

/*
COOLORS color palette link
https://coolors.co/2b2624-3b312f-e53e45-e57269-98734c 
*/


/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --raisin-black: #2b2624ff;
    --black-coffee: #3b312fff;
    --imperial-red: #e53e45ff;
    --blue: #12304d;
    --liver-chestnut: #98734cff;
    --sea-green: hsla(146, 50%, 36%, 0.7);
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    /* --fs-xs: 1rem; */
    --fs-s: 1rem;
    --fs-m: 1.25rem;
    --fs-l: 1.5rem;
    --fs-title: 1.75rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    height: 100vh;
    background-image: url("jigglesgrid.jpg"); 
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 4rem 1rem;
   
}

h1 {
    color: var(--raisin-black);
    background-color: var(--sea-green);
    text-transform: uppercase;
    font-size: var(--fs-title);
    padding: .75rem;
    margin-top: .75rem;
    margin-bottom: 1rem;
    border-radius: var(--br-soft);
}

h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}


/****** WRAPPER STYLING ******/

.wrapper {
    max-width: 800px;
    background-color: hsl(0, 0%, 100%, 0.8);
    padding: 2rem 2rem 4rem 2rem;
    margin: 0 auto;
    border-radius: var(--br-soft);
    border: 8px solid var(--blue);
    box-shadow: 0 1rem .5rem .5rem var(--raisin-black);
}


/****** BUTTON STYLING ******/

button {
    width: 15rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: var(--fs-l);
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: var(--br-soft);
}

#increment-btn {
    background: var(--imperial-red);
    margin: 1rem;

}

#save-btn {
    background: var(--blue);
    margin: 1rem;
}

.save-el {
    margin-bottom: 2rem;
}

@media (max-width: 450px) {
    h1 {
        font-size: var(--fs-m);
    }
    
    button {
        width: 10rem;
        font-size: var(--fs-s);
    }
}

